
RaylibPlatformer/.vs/RaylibPlatformer/v17/ipch/AutoPCH/20727ab7c54c3c89/RAYLIBPLATFORMER.ipch
RaylibPlatformer/.vs/RaylibPlatformer/v17/Browse.VC.opendb
RaylibPlatformer/.vs/RaylibPlatformer/v17/Browse.VC.db-wal
RaylibPlatformer/.vs/RaylibPlatformer/v17/Browse.VC.db-shm
RaylibPlatformer/.vs/RaylibPlatformer/v17/Browse.VC.db
RaylibPlatformer/.vs/RaylibPlatformer/v17/.suo
RaylibPlatformer/.vs/RaylibPlatformer/FileContentIndex/36e4b41e-8748-4644-bf07-746b9817c20d.vsidx
